
@{
    Layout = null;
}

<a href="/DefaultController1/Index">Index Sayfası</a>
<a href="/DefaultController1/Urunler>Ürünler Sayfası</a>

<h1> @ViewBag.d</h1> <!-- çalışmadı kontrol et-->
<h6>@ViewBag.u</h6>

