
@{
    Layout = null;
}

<a href="/DefaultController1/Index/">Index Sayfası</a>
<a href="/DefaultController1/Musteriler/">Müşteri Sayfası</a>
<h1>Urunler Sayfası</h1>

<h5>@ViewBag.m1</h5>
<h5>@ViewBag.m2</h5>
<h5>@ViewBag.m3</h5>
<h3>Toplam:@ViewBag.t</h3>
<h3>Çevre:@ViewBag.c</h3>
<h6>@ViewBag.u</h6>

