@model OOP_Temelleri_1.Entity.Customer

@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Yeni Müşteri Ekleme Sayfası</h1>

<form method="post">
    @Html.Label("Müşteri Adı")
    @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
    <br />
    @Html.Label("Müşteri Şehri")
    @Html.TextBoxFor(x => x.CustomerCity, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Müşteriyi Kaydet</button>
</form>
