@using OOP_Temelleri_1.Entity
@model List<Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Müşteri Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Müşteri Adı</th>
        <th>Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
     @foreach (var item in Model)
    {
        <tr>
            <td>@item.CustomerId</td>
            <td>@item.CustomerName</td>
            <td>@item.CustomerCity</td>
            <td><a href="/CustomerController/DeleteCustomer/@item.CustomerId" class="btn btn-danger">Sil </a></td>
            <td><a href="/CustomerController/UpdateCustomer/@item.CustomerId" class="btn btn-success">Güncelle </a></td>

        </tr>
    }
</table>
<a href="/CustomerController/AddCustomer/" class="btn btn-primary">Yeni Müşteri Girişi</a>

